html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #171717;
  font-size: .95em;
  font-family: 'Inconsolata', monospace;
  overflow: hidden;
}

.container {
  width: 330px;
  margin: 0 auto;
}

.sideBar {
  position: absolute;
  top: 0px;
  right:0px;
  width: 150px;
  height: 100%;
  /* background: #222; */
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  /* color: #d25; */
  text-decoration: none;  
}

.autocomplete {
  color: #e7e7e7;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #d25 !important;

}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #d25 !important;
  color: #ffffff;
}

#goto-val {
  width: 100%;
  background: #222;
  color: #e7e7e7;
  margin-top:50px;
}

#pic {
  border: 2px solid #d25;
  margin: auto;
  padding:5px;
  display: block;
}

#links {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

#links li {
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  list-style: none;
  /* background-color: #222; */
  /* border-bottom: 1px solid #d4d4d4; */
}

#links li:hover {
  background-color: #333;
}

#note {
  margin-top: 350px;
  margin-bottom: 40px;

  font-size: 1.5em;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #e7e7e7;
  font-family: 'Inconsolata', monospace;
}
